:root {
    /* Label Style Variables */
    /* Input Style Variables */
    --input-block: block;
    --input-border: 2px solid #0071c5;
    --input-border-radius: 20px;
    --input-padding: 5px;
    --input-margin: 2px auto;
    --input-font-color: #333;
    --input-radio-margin: auto;
}

textarea {
    resize: none
}

.call-section-container, .chat-section-container, .email-web-section-container {
    background-color: #0071c5;
    width: 100vw;
    height: 97vh;
    display: grid;
    gap: 5px;
    padding: 5px;
    max-width: 30vw;
    min-width: 466px;
}

p {
    color: white;
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    /* background-image: linear-gradient(#999, black 10%); */
    background-color: black;
    color: white;
}

.navigation-links {
    background-color: red;
    display: flex;
    flex-flow: column;
    /* justify-content: flex-start; */
    padding: 1vw 1vh;
    position: fixed;
    width: 4vw;
    /* height: 100vw; */
    left: 0;
    top: 0;
}

.list {
    display: block;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#phone-h2, #chat-h2, #email-web-h2 {
    text-align: center;
    color: #0071c5;
    position: relative;
}

.call-section-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.call-one {
    background-color: rgb(0, 0, 0);
    grid-column: 1 / 2;
}

.label-class > p {
    margin: .5em 0 .5em .6em;
    display: block;
}

.input-class {
    display: var(--input-block);
    border: var(--input-border);
    border-radius: var(--input-border-radius);
    padding: var(--input-padding);
    margin: var(--input-margin);
    color: var(--input-font-color);
    width: 80%;
    min-width: 80%;
    min-height: 7%;
}

/* sets the grid colum and BG color */
.call-two {
    background-color: rgb(0, 0, 0);
    grid-column: 1/2;
}

/* aligns the P and radio butts */
.ipa-status {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

/* expands radio-butts clickable area */
.call-two-radio {
    width: 100%;
    height: 100%;
}
/* expands the buttons area */
.radio-buts {
    background-color: #0071c5;
    width: 50px;
}

/* textarea of Mem - Hides the element if Mem button is not active */

.call-two-non-ipa {
    text-align: center;
    color: white;
    display: none;
}

.call-two-non-ipa p {
    margin-left: 0
}

.last-radio-line {
    margin-right: .3vw;
}

.input-class-mem {
    border: var(--input-border);
    border-radius: var(--input-border-radius);
    padding: var(--input-padding);
}

.call-three {
    background-color: rgb(0, 0, 0);
    grid-column: 2/3;
    grid-row: 1/3;
}

.call-three-button p {
    color: #333;
  
}

.call-three-button button {
    display: block;
    height: 3em;
    width: 5em;
    margin: auto;
}
.call-three-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.input-class-text {
    display: block;
    margin: auto;
    width: 90%;
}

#call-log-textarea1 {
    height: 35%;
}
#call-log-textarea2 {
    height: 55%;
}

/*Chat Only*/

.chat-section-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.chat-one {
    background-color: rgb(0, 0, 0);
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: none
}

.chat-two {
    background-color: rgb(0, 0, 0);
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display:none
}

.highlight-container {
    display: inline;
    position: absolute;
}
.highlight-container p {
    display: inline-block;
    font-size: 1.5em;
}
.highlight-container-one {
    top: 0em;
    left: .5em;
}
.highlight-container-two {
    top: 0em;
    right: .5em;
}
.highlight-container input {
    padding: 5em;
}

.chat-three {
    background-color: rgb(0, 0, 0);
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.chat-three h2 {
    display: inline-block;
}

.chat-three-but-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: .5em;
}

.but-head {
    background-color: #41728a;
    text-align: center;
    width: 100%;
    position: relative;
}

.but-name {
    text-align: center;
    margin-bottom: .4em;
}

.button-name-container {
   height: 3.5em
}

.rounded-buttons {
    border-radius: 20%;
    padding: .5em;
    /* border: .2em solid white; */
    background-color: limegreen;
    height: 1.5em;
    width: 4em;
    margin: auto;
    display: block;
    margin-top: .25em;
    margin-bottom: .25em;
    outline: .1em solid #0071c5;
}

/*email-web-only*/

.email-web-section-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.email-web-one {
    background-color: rgb(0, 0, 0);
    grid-column: 1/3;
    grid-row: 1/3;
}

.email-web-one-container {
    background-color: #777;
    height: 80%;
    width: 80%;
    margin: auto;
    margin-top: 1vw;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
}

.email-web-header {
    background-color: #333;
    text-align: center;
}

.add-textarea-container {
    display: flex;
    margin: 0 1vw;
}

.add-textarea {
    width: 2.5em;
    height: 2.5em;
    background-color: rgb(211, 211, 211);
    border: 1px solid rgb(211, 211, 211);
}

.add-textarea:active, .active {
    background-color: white;
    border: 1px solid black;
    border-bottom: transparent
}

.add-text-area-cocntainer li {
    list-style-type: none;
}

.email-web-textarea {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.email-button-styler {
    background-color: #333;
}

#ul-button-styler {
    text-align: center;
    position: relative;
}

.li-button-styler {
    display: inline-block;
}

.email-button-styler-span {
    color: #333;
}

.li-button-styler > button {
    border: transparent;
    background-color: white;
}

.button-styler {
    padding: .5em;
    margin: 0 .1em;
}

#delete-me {
    border: transparent;
    background-color: #333;
    color: red;
    position: absolute;
    left: .5em;
    bottom: 0;
}

.text-area-email-stack {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 5px solid white;
    background-color: #ffffff;
    display: none;
}

.email-web-one-extra {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-web-contents {
    display: inline-block;
    margin: 1em;
}

.email-web-contents-button {
    height: 3em;
    width: 7em;
}

.email-web-two {
    background-color: rgb(0, 0, 0);
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    /* text-align: center; */
}

.email-web-two-half {
    height: 100%;
    width: 100%;
}

.email-web-two-half span {
    display: inline-block;
    margin: 1em
}